extends layout

block content
  ul
    li SPOT
      div
        a(href=`/`)= `spot-signal balances`
      div
        a(href=`/`)= `spot-classic balances`
    li FUTURES
      ul
        li USD-M
          div
            a(href=`/`)= `f-signal balances`
          div
            a(href=`/`)= `f-classic balances`
          div
            a(href=`/`)= `f-denis balances`
        li COIN-M
          div
            a(href=`/`)= `f-signal-BTCUSD_PERP balance`
          div
            a(href=`/`)= `f-classic-TRXUSD_PERP balance`
          div
            a(href=`/`)= `f-classic-ETHUSD_PERP balance`

