extends layout

block content
  ul
    li SPOT
      div
        a(href=`/balances/spot-signal`)= `spot-signal balance`
      div
        a(href=`/balances/spot-classic`)= `spot-classic balance`
      div
        a(href=`/balances/test`)= `test balance`
      div
        a(href=`/balances/deposit`)= `deposit balance`
      div
        a(href=`/balances/change`)= `change balance`
    li FUTURES
      ul
        li USD-M
          div
            a(href=`/balances/f-signal`)= `f-signal balance`
          div
            a(href=`/balances/f-classic`)= `f-classic balance`
          div
            a(href=`/balances/f-denis`)= `f-denis balance`
        li COIN-M
          div
            a(href=`/balances/f-coin-signal`)= `f-coin-signal balance`
          div
            a(href=`/balances/f-coin-classic`)= `f-coin-classic balance`
