extends layout

block content
  ul
    li SPOT
      div
        a(href=`/balances/`)= `spot-signal balances`
      div
        a(href=`/balances/`)= `spot-classic balances`
    li FUTURES
      ul
        li USD-M
          div
            a(href=`/balances/`)= `f-signal balances`
          div
            a(href=`/balances/`)= `f-classic balances`
          div
            a(href=`/balances/`)= `f-denis balances`
        li COIN-M
          div
            a(href=`/balances/`)= `f-signal-BTCUSD_PERP balance`
          div
            a(href=`/balances/`)= `f-classic-TRXUSD_PERP balance`
          div
            a(href=`/balances/`)= `f-classic-ETHUSD_PERP balance`
