extends layout

block content
  ul
    li SPOT
      div
        a(href=`/billing/spot/spot-signal/BTC`)= `spot-signal-BTC`
      div
        a(href=`/billing/spot/spot-classic/BTC`)= `spot-classic-BTC`
      div
        a(href=`/billing/spot/spot-classic/USDT`)= `spot-classic-USDT`
    li FUTURES
      ul
        li USD-M
          each catFuturesItem in categories[`futures`]
            each coinFutures in baseCoins[`futures`]
              div
                a(href=`/billing/futures/${catFuturesItem}`)= `${catFuturesItem}-${coinFutures}`
        li COIN-M
          div
            a(href=`/billing/futures-coin/f-coin-signal/BTCUSD_PERP`)= `f-coin-signal-BTCUSD_PERP`
          div
            a(href=`/billing/futures-coin/f-coin-classic/TRXUSD_PERP`)= `f-coin-classic-TRXUSD_PERP`
          div
            a(href=`/billing/futures-coin/f-coin-classic/ETHUSD_PERP`)= `f-coin-classic-ETHUSD_PERP`
