doctype html
html
  head
    title= title
  body
    div
      a(href=`/billing/spot/signal/btc`) spot-signal-BTC
    div
      a(href=`/billing/spot/signal/usdt`) spot-signal-USDT
    div
      a(href=`/billing/spot/classic/btc`) spot-classic-BTC
    div
      a(href=`/billing/spot/classic/usdt`) spot-classic-USDT
    div
      a(href=`/billing/futures/classic`) f-classic
    block content
