doctype html
html
  head
    title= title
  header
    ul
      li
        a(href=`/balances`) Balances
      li
        a(href=`/billing`) Billing
      li
        a Cash-flow
      li
        a Wallet-balance

  body
    block content
