doctype html
html
  head
    title= title
  body
    div
      a(href=`/billing/spot/signal/btc`) spot-signal-btc
    div
      a(href=`/billing/spot/signal/usdt`) spot-signal-usdt
    div
      a(href=`/billing/spot/classic/btc`) spot-classic-btc
    div
      a(href=`/billing/spot/classic/usdt`) spot-classic-usdt
    block content
